.map {
    min-height: 1200px;
    position: relative;
    &__image {
        width: 100%;
        img {
            width: 100%;
        }
    }
    &__title {
        font-family: 'Audiowide';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-top: 118px;
    }
    &__wrapper {
        display: flex;
        margin-top: 106px;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1000;
    }
    &__item {
        margin-bottom: 140px;
        &_block {
            width: 540px;
            background: #222222;
            border: 1px solid #8DFD1B;
            padding-bottom: 30px;
            &_top {
                padding-left: 13px;
                padding-top: 13px;
                border-bottom: 1px solid #8DFD1B;
                padding-bottom: 13px;
                &_wp {
                    display: flex;
                    align-items: center;
                    &_text {
                        margin-left: 12px;
                    }
                    &_title {
                        font-family: 'DM Mono';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 12px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #8DFD1B;
                    }
                    &_subtitle {
                        font-family: 'DM Mono';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 28px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }
                }
            }
            &_bottom {
                &_wp {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;
                    &_image {
                        padding-right: 13px;
                        padding-top: 20px;
                    }
                    &_text {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 32px;
                        color: #FFFFFF;
                        padding-left: 35px;
                    }
                    &_descr {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 26px;
                        color: #FFFFFF;
                        width: 298px;
                        padding-left: 13px;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
    &__image_gr_first {
        position: absolute;
        top: 12%;
        left: 10%;
    }
    &__image_gr_second {
        position: absolute;
        top: 37%;
        right: 12%;
    }
    &__image_gr_third {
        position: absolute;
        top: 70%;
        left: 12%;
    }
}